<h1>Welcome to my website(s)</h1>
<p>This here is the central hub to my other test sites</p>
<p>I dont have anything else... YET</p>
<button onclick="reDir()">This does something...</button>

<script>
    function reDir() {
        alert(Something)
    }
</script>